
<div style="padding: 17% 20% 0 20%;" *ngIf = "!layoutExpand">
  <h2 class = "text-white">Hi Shawn Xu</h2>
  <small class = "text-muted">Welcome to Food delivery, you can manage your restaurants here</small>

  <p class = "text-white" style = "font-size: 17px; margin-top: 15%;">Your Restaurants</p>

  <div class = "restaurants-list">

    <button *ngFor = "let restaurant of restaruantsInfo" [@selectRestaurant] = "selected == restaurant.id? 'selected' : 'unselected' " (click) = "select(restaurant.id)" [routerLink] = "['/', { outlets: {appRight: ['dashboard', restaurant.id] } }]">
      <p class = "title">{{restaurant.name}}</p>
      <small class = "address">{{restaurant.address}}</small>
    </button>

  </div>

  <button class = "add" [@selectRestaurant] = "selected == 0? 'selected' : 'unselected' " (click) = "select(0)" [routerLink] = "['/', { outlets: {appRight: ['dashboard', 0] } }]">New Restaurant</button>
</div>

<div *ngIf = "layoutExpand" style="padding: 30% 5% 0% 5%;">
  <h2 class = "text-white mb-3">Shawn Xu</h2>
  <div class = "btn-list mt-3">
    <small>MENU</small>
    <button (click) = "changeMenu('home')" [ngClass] = "{'active':selectedMenu === 'home'}">
      <i class="fas fa-home"></i> Home
    </button>

    <button (click) = "changeMenu('summary')" [ngClass] = "{'active':selectedMenu === 'summary'}">
      <i class="fas fa-atlas"></i> Summary
    </button>

    <button (click) = "changeMenu('orders')" [ngClass] = "{'active':selectedMenu === 'orders'}">
      <i class="fas fa-address-book"></i> Orders
    </button>

    <button (click) = "changeMenu('products')" [ngClass] = "{'active':selectedMenu === 'products'}">
      <i class="fas fa-cookie"></i> Products
    </button>

    <button (click) = "changeMenu('settings')" [ngClass] = "{'active':selectedMenu === 'settings'}">
      <i class="fas fa-cog"></i> Settings
    </button>

    <button class = "mt-3"> <i class="fas fa-sign-out-alt"></i> Logout</button>
  </div>
</div>

