p {
  font-family: Lato;
}


.app-background{
  width: 100%;
  background-color: #262b40;
  height: 100vh;
}

.app-left{

}

.app-right{
  height: 95vh;
  background-color: white;
  border-radius: 20px;
  position: relative;
  top: 2.5vh;
}