<div class = "container-fluid app-background">
  <div class = "row" *ngIf = "layoutMode === 1; else secondMode">
    <div class = "col-lg-6 col-12 app-left">
      <router-outlet></router-outlet>
    </div>
    <div class = "col-lg-6 col-12 app-right">
      <router-outlet name = 'appRight'></router-outlet>
    </div>
  </div>

  <ng-template #secondMode>
    <div class = "row">
      <div class = "col-lg-2 col-12 app-left">
        <router-outlet></router-outlet>
      </div>
      <div class = "col-lg-10 col-12 app-right">
        <router-outlet name = 'appRight'></router-outlet>
      </div>
    </div>  
  </ng-template>


</div>