<div class = "container dashboard">
    <form [formGroup] = "restaurantInfoForm" (ngSubmit)="onSubmit(restaurantInfoForm.value)">
      <div class = "restaurant-image-section container">
        <div class = "row">
          <div class = "image-preview col-12 col-lg-6" [ngClass] = "{ 'my-invalid': submitted && !previewURL }">
            <img [src] = "previewURL" *ngIf = "previewURL; else empty">
            <ng-template #empty>
              <img src = "../../assets/images/empty.jpg">
            </ng-template>
          </div>


          <div class = "form-group col-12 col-lg-6 image-selector">
            <div class = "title">Resuarant Main Image</div>
            <label for = "restaurantImage"><i class="fas fa-upload"></i> upload image</label>
            <input type = "file" id = "restaurantImage" formControlName = "restaurantImage" (change) = "fileProgress($event)" />
            <div class = "small text-danger" *ngIf = "submitted && !previewURL">
              <div *ngIf = "submitted && !previewURL">Image is required</div>
            </div>
          </div>
        </div>
      </div>

      <div class = "form-group mt-3">
        <label for = "restaurantName" class = "input-title">Restaurant name</label>
        <input type="text" class="form-control" id="restaurantName" formControlName = "restaurantName" [ngClass] = "{ 'is-invalid': submitted && restaurantInfoForm.controls.restaurantName.errors }" />
        <div class = "invalid-feedback" *ngIf = "submitted && restaurantInfoForm.controls.restaurantName.errors">
          <div *ngIf = "restaurantInfoForm.controls.restaurantName.errors.required">Name is required</div>
        </div>
      </div>

      <div class = "form-group mt-3">
        <label for = "restaurantAddress" class = "input-title">Restaurant address</label>
        <input type="text" class="form-control" id="restaurantAddress" formControlName = "restaurantAddress" [ngClass] = "{ 'is-invalid': submitted && restaurantInfoForm.controls.restaurantAddress.errors }" />
        <div class = "invalid-feedback" *ngIf = "submitted && restaurantInfoForm.controls.restaurantAddress.errors">
          <div *ngIf = "restaurantInfoForm.controls.restaurantAddress.errors.required">Address is required</div>
        </div>
      </div>

      <hr>

      <div class = "form-group form-inline">
        <input type = "checkbox" class = "form-control" id = "restaurantHoursSetting" formControlName = "restaurantHoursSetting" [(ngModel)] = "consistentHours">
        <label for = "restaurantHoursSetting" class = "small ml-2">restuarant hours is consistent</label>
      </div>

      <div *ngIf = "consistentHours; else differentHours">
        <div class = "form-group container mt-3 time-selector" style = "padding: 0;">
          <div class = "input-title">Restaurant opening time</div>
          <div>
            <div class = "row mt-1">
              <div class = "col-12 col-md-8 range-slider">
                <span class = "limit-point">00:00</span>
                <input type="range" class="form-control" min="0" max="24" step="0.5" value="0" [(ngModel)] = "openTime[0]" formControlName = "restaurantOpenSlider" id = "restaurantOpenSlider">
                <span class = "limit-point">24:00</span>
              </div>

              <div class = "col-12 col-md-4 range-display">
                <input type = "text" class = "form-control" formControlName = "restaurantOpen" id = "restaurantOpen" readonly [value] = "openTime[0] | time" [ngClass] = "{ 'is-invalid': submitted && !openTime[0] }" style = "background: none;">
              </div>
            </div>
          </div>
          <div class = "small text-danger" *ngIf = "!openTime[0] && submitted">
            <div *ngIf = "!openTime[0] && submitted">Opening time is required</div>
          </div>
        </div>

        <div class = "form-group container mt-3 time-selector" style = "padding: 0;">
          <div class = "input-title">Restaurant closing time</div>
          <div>
            <div class = "row mt-1">
              <div class = "col-12 col-md-8 range-slider">
                <span class = "limit-point">00:00</span>
                <input type="range" class="form-control" min="0" max="24" step="0.5" value="0" [(ngModel)] = "closeTime[0]" formControlName = "restaurantCloseSlider" id = "restaurantCloseSlider">
                <span class = "limit-point">24:00</span>
              </div>

              <div class = "col-12 col-md-4 range-display">
                <input type = "text" class = "form-control" formControlName = "restaurantClose" id = "restaurantClose" readonly [value] = "closeTime[0] | time" [ngClass] = "{ 'is-invalid': submitted && !closeTime[0] }" style = "background: none;">
              </div>
            </div>
          </div>
          <div class = "small text-danger" *ngIf = "submitted && !closeTime[0]">
            <div *ngIf = "submitted && !closeTime[0]">Closing time is required</div>
          </div>
        </div>
      </div>

      <ng-template #differentHours>
        <div *ngFor = "let day of daysWeek; index as i">
          <div class = "font-weight-bold">{{day}}</div>
          <div class = "form-group container mt-3 time-selector" style = "padding: 0;">
            <div class = "input-title">Restaurant opening time</div>
            <div>
              <div class = "row mt-1">
                <div class = "col-12 col-md-8 range-slider">
                  <span class = "limit-point">00:00</span>
                  <input type="range" class="form-control" min="0" max="24" step="0.5" value="0" [(ngModel)] = "openTime[i]" formControlName = "restaurantOpenSlider" id = "restaurantOpenSlider">
                  <span class = "limit-point">24:00</span>
                </div>

                <div class = "col-12 col-md-4 range-display">
                  <input type = "text" class = "form-control" formControlName = "restaurantOpen" id = "restaurantOpen" readonly [value] = "openTime[i] | time" [ngClass] = "{ 'is-invalid': submitted && !openTime[i] }" style = "background: none;">
                </div>
              </div>
            </div>
            <div class = "small text-danger" *ngIf = "!openTime[i] && submitted">
              <div *ngIf = "!openTime[i] && submitted">Opening time is required</div>
            </div>
          </div>

          <div class = "form-group container mt-3 time-selector" style = "padding: 0;">
            <div class = "input-title">Restaurant closing time</div>
            <div>
              <div class = "row mt-1">
                <div class = "col-12 col-md-4 range-slider">
                  <span class = "limit-point">00:00</span>
                  <input type="range" class="form-control" min="0" max="24" step="0.5" value="0" [(ngModel)] = "closeTime[i]" formControlName = "restaurantCloseSlider" id = "restaurantCloseSlider">
                  <span class = "limit-point">24:00</span>
                </div>

                <div class = "col-12 col-md-4 range-display">
                  <input type = "text" class = "form-control" formControlName = "restaurantClose" id = "restaurantClose" readonly [value] = "closeTime[i] | time" [ngClass] = "{ 'is-invalid': submitted && !closeTime[i] }" style = "background: none;">
                </div>
              </div>
            </div>
            <div class = "small text-danger" *ngIf = "submitted && !closeTime[i]">
              <div *ngIf = "submitted && !closeTime[i]">Closing time is required</div>
            </div>
          </div>
        </div>
      </ng-template>

      <hr>

      <div class = "form-group mt-3 types-selector">
       <div class = "input-title"> Restaurant Types</div>
        <div>
          <div class = "types">
            <button type = "button" class = "type-select-item" [ngClass] = "ifSelected(types[typeId])" (click) = "typeItemToggle($event)" *ngFor = "let type of types; index as typeId">{{types[typeId]}}</button>
          </div>
          <input type = "text" class = "form-control mt-2" id = "restaurantTypes" formControlName = "restaurantTypes" readonly [value] = "selectedTypes" [ngClass] = "{ 'is-invalid': submitted && !selectedTypes.length }" style = "background: none;">
          
          <div class = "small text-danger" *ngIf = "submitted && !selectedTypes.length">
            <div *ngIf = "submitted && !selectedTypes.length">at least one type is required</div>
          </div>
        
        </div>

      </div>

      <hr>

      <div class = "form-group mt-3 intro">
        <label for = "restaurantIntro" class = "input-title">Restaurant introduction</label>
        <textarea class = "form-control" id = "restaurantIntro" formControlName = "restaurantIntro" row = 4 [ngClass] = "{ 'is-invalid': submitted && restaurantInfoForm.controls.restaurantIntro.errors }"></textarea>
        <div class = "invalid-feedback" *ngIf = "submitted && restaurantInfoForm.controls.restaurantIntro.errors">
          <div *ngIf = "restaurantInfoForm.controls.restaurantIntro.errors.required">Image is required</div>
        </div>
      </div>

 
      <button type = "submit" class = "btn btn-primary mt-3">Save Changes</button>


      <button type = "button" class = "toggle-icon" (click) = "toggleLayout()" [style.left] = "layoutExpand? '17%':'50%' ">
        <i class="fas fa-angle-double-left" *ngIf = "!layoutExpand"></i>
        <i class="fas fa-angle-double-right" *ngIf = "layoutExpand"></i>
      </button>



    </form>

</div>

