.page-title{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
  transform: translate(0%, -100%);
}

.dashboard{
  padding: 6% 8%;
  overflow-y: scroll;
  height: 90vh;
  position: relative;
  top: 5vh;

}


.input-title{
  font-size: 18px;
  font-weight: 550;
}

.my-invalid{
  border: 1px solid red;
}

.form-group{
  height: 70px;
}

.form-group.image-selector{
  height: 170px;
}

.form-group.time-selector{
  height: 100px;
}

.form-group.types-selector{
  height: 180px;
}

.form-group.intro{
  height: 130px;
}


.restaurant-image-section .image-preview{
  height: 170px;
  width: 300px;
  padding: 0;
  max-width: 300px;
}

.restaurant-image-section .image-preview img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.restaurant-image-section .form-group{
  padding: 7% 5%;
}

.restaurant-image-section .title{
  font-size: 20px;
  font-weight: 450;
}

.restaurant-image-section label{
  cursor: pointer;
  font-size: 13px;
  font-weight: 300;
  margin-top: 3%;
  color: grey;
}

.restaurant-image-section label i{
  font-size: 10px;
  color: white;
  border-radius: 50%;
  background-color: #de85bd;
  padding: 4%;
}

#restaurantImage{
   opacity: 0;
   position: absolute;
   z-index: -1;
}

.range-slider{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

input[type = range]{
  width: 300px;
  display: inline-block;
  margin: 0px 3%;
}

.range-display input{
  width: 100px;
  float: right;
}

.types{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

}

.type-select-item{
  width: 80px;
  height: 40px;
  background-color: white;
  border: 1px solid #de85bd;
  color: #de85bd;
  border-radius: 10px;
  margin: 1% 2% 1% 0%;
}

.type-select-item.selected{
  background-color: #de85bd;
  color: white;
  border: none;
}

.toggle-icon{
  border: none;
  width: 40px;
  height: 60px;
  background: none;
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  font-size: 30px;
}

@media only screen and (max-width: 992px){
  .dashboard-right{
    padding: 5%;
  }

  .restaurant-image-section .image-preview img{
    width: 320px;
    height: 170px;
    border-radius: 5px;
  } 

  .toggle-icon{
    display: none;
  } 
}

